body {
    margin: 0;
    padding: 15px;
    background-color: rgb(0, 0, 0, 0.5);
    background-image: url(banana.png);
}

body::-webkit-scrollbar {
    width: 0;
}

* {
    color: whitesmoke;
    font-family: 'Gill Sans MT';
}