.AppWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header_wrapper {
    width: 75%;
    height: 4em;
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(36, 36, 36);
    box-shadow: -5px 5px 5px rgb(36, 36, 36);
    border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    font-size: 25px;
    text-decoration: none;
}

.logo:hover {
    text-decoration: underline;
}

.logo:active {
    color: rgb(36, 36, 36);
}

.search_field {
    width: 15em;
    height: 2em;
    color: white;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid white;
    font-size: 20px;
    font-family: 'Gill Sans MT';
}

.search_field :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.search_button {
    width: 5em;
    height: 1.5em;
    font-size: 25px;
    background-color: inherit;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: -3px 3px 10px black;
    margin: 0 0 0 25px;
}

.search_button:hover {
    background-color: rgb(36, 36, 36);
}

.search_button:active {
    background-color: whitesmoke;
    border: 1px solid rgb(36, 36, 36);
    color: rgb(36, 36, 36);
}

