.Start_page_wrapper {
    width: 65vw;
    height: fit-content;
    margin-top: 1.5em;
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(36, 36, 36);
    border-radius: .5em;
    box-shadow: -5px 5px 5px rgb(36, 36, 36);
    padding: 10px;
    text-align: center;
}

.h1 {
    font-size: 2vw;
    margin: 3vh auto;
}

.h2 {
    margin: 2vh auto;
    font-size: 1vw;
}