.Wrapper {
    width: 75%;
    height: 4em;
    margin: 0 auto;
    background-color: rgb(50, 50, 50);
    border: 1px solid black;
    border-radius: .5em;
    box-shadow: -5px 5px 10px rgb(36, 36, 36);
}