.Result_page_wrapper {
    width: 65%;
    height: fit-content;
    margin-top: 1.5em;
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(36, 36, 36);
    border-radius: .5em;
    box-shadow: -5px 5px 5px rgb(36, 36, 36);
    padding: 15px;

    display: flex;
    flex-wrap: wrap;
}

.Result_page_wrapper > div {
    margin: 10px 0 10px 30px;
}