.Result_page_wrapper {
    width: 50vw;
    height: fit-content;
    margin-top: 1.5em;
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(36, 36, 36);
    border-radius: .5em;
    box-shadow: -5px 5px 5px rgb(36, 36, 36);
    padding: 15px;

    display: grid;
    grid-template-areas: 'a a a';
    row-gap: 1vh;
    column-gap: 1vw;
    column-width: 1vw;

    transition: .5s;
}

.Loader {
    width: 50vw;
    text-align: center;
    font-size: 3vw;
}

/* .Adaptive_wrapper {
    width: 100%;
} */

.Adaptive_wrapper {
    display: flex;
}